In [ ]:
import pandas as pd
import numpy as np
import csv

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/Internship/KPMG_VI_New_raw_data_update_final.xlsx')

# **Customer Demographic**

In [ ]:
customer_demography = pd.read_excel('/content/drive/MyDrive/Internship/KPMG_VI_New_raw_data_update_final.xlsx', sheet_name='CustomerDemographic')
customer_demography

<ipython-input-13-0c6b2c7a19b7>:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  customer_demography = pd.read_excel('/content/drive/MyDrive/Internship/KPMG_VI_New_raw_data_update_final.xlsx', sheet_name='CustomerDemographic')

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3996,Rosalia,Halgarth,Female,8,1975-08-09,VP Product Management,Health,Mass Customer,N,-100,No,19.0
3996,3997,Blanch,Nisuis,Female,87,2001-07-13,Statistician II,Manufacturing,High Net Worth,N,â¦testâ§,Yes,1.0
3997,3998,Sarene,Woolley,U,60,NaT,Assistant Manager,IT,High Net Worth,N,NaN,No,NaN
3998,3999,Patrizius,NaN,Male,11,1973-10-24,NaN,Manufacturing,Affluent Customer,N,Â¡â¢Â£Â¢âÂ§Â¶â¢ÂªÂºââ,Yes,10.0
3999,4000,Kippy,Oldland,Male,76,1991-11-05,Software Engineer IV,NaN,Affluent Customer,N,0/0,No,11.0

In [ ]:
customer_demography.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 406.4+ KB

In [ ]:
customer_demography.describe(include='all')

<ipython-input-17-0939b13efa16>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  customer_demography.describe(include='all')

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
count,4000.000000,4000,3875,4000,4000.000000,3913,3494,3344,4000,4000,3698.0,4000,3913.000000
unique,NaN,3139,3725,3,NaN,3448,195,9,3,2,90.0,2,NaN
top,NaN,Max,Pristnor,Female,NaN,1978-01-30 00:00:00,Business Systems Development Analyst,Manufacturing,Mass Customer,N,100.0,Yes,NaN
freq,NaN,5,3,2039,NaN,7,45,799,2000,3998,113.0,2024,NaN
first,NaN,NaN,NaN,NaN,NaN,1843-12-21 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2002-03-11 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2000.500000,NaN,NaN,NaN,48.890000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.657041
std,1154.844867,NaN,NaN,NaN,28.715005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.660146
min,1.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
25%,1000.750000,NaN,NaN,NaN,24.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000
50%,2000.500000,NaN,NaN,NaN,48.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.000000
75%,3000.250000,NaN,NaN,NaN,73.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.000000
max,4000.000000,NaN,NaN,NaN,99.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.000000

The gender column has inconsistent format such as 'F', 'Femal', 'M', and 'U'. Now we can change it into proper format

In [ ]:
customer_demography['gender'].replace(['Femal', 'F'], 'Female', inplace=True)
customer_demography['gender'].replace('M', 'Male', inplace=True)
customer_demography['gender'].replace('U', 'Unknown', inplace=True)

Based on describe column, we see that there is inaccurate format of DOB (Day of Birth), it is 1843-12-21. which counts as inacurrate data, probably an human error. Let's change it into 1943

In [ ]:
customer_demography['DOB'] = customer_demography['DOB'].replace('1843-12-21', '1943-12-21')

drop default column as it has irrelevant data

In [ ]:
customer_demography = customer_demography.drop('default', axis = 1)

let's count number of missing values

In [ ]:
customer_demography.isnull().sum()

customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                  87
dtype: int64

> we will handle missing value with dropping and imputation. for last_name we wont do anything since it wont have significant impact. But for job_title, job_industry_category we will have imputation on it. NaN on Tenure and DOB will be dropped

In [ ]:
customer_demography.duplicated().sum()

0

In [ ]:
#fill the missing values
customer_demography['job_title'].fillna(value='Unknown', inplace=True)
customer_demography['job_industry_category'].fillna(value='Unknown', inplace=True)

In [ ]:
#drop missing values
customer_demography.dropna(subset=['DOB', 'tenure'], inplace=True)

In [ ]:
customer_demography.isnull().sum()

customer_id                              0
first_name                               0
last_name                              121
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                      0
job_title                                0
job_industry_category                    0
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                   0
dtype: int64

**Let's check the columns**

In [ ]:
customer_demography['job_title'].value_counts()

Unknown                                 497
Business Systems Development Analyst     43
Tax Accountant                           43
Social Worker                            42
Recruiting Manager                       41
                                       ...
Database Administrator II                 4
Health Coach III                          3
Health Coach I                            3
Research Assistant III                    3
Developer I                               1
Name: job_title, Length: 196, dtype: int64

In [ ]:
customer_demography['job_industry_category'].value_counts()

Manufacturing         796
Financial Services    767
Unknown               656
Health                596
Retail                358
Property              267
IT                    152
Entertainment         136
Argiculture           113
Telecommunications     72
Name: job_industry_category, dtype: int64

In [ ]:
customer_demography['gender'].value_counts()

Female     2039
Male       1873
Unknown       1
Name: gender, dtype: int64

In [ ]:
customer_demography['wealth_segment'].value_counts()

Mass Customer        1954
High Net Worth        996
Affluent Customer     963
Name: wealth_segment, dtype: int64

In [ ]:
customer_demography['deceased_indicator'].value_counts()

N    3911
Y       2
Name: deceased_indicator, dtype: int64

In [ ]:
customer_demography['owns_car'].value_counts()

Yes    1974
No     1939
Name: owns_car, dtype: int64

**For age segmentation, we will add new columns based on DOB**

In [ ]:
from datetime import datetime

def calculate_age(dob):
    current_date = datetime.now()
    age = current_date.year - dob.year - ((current_date.month, current_date.day) < (dob.month, dob.day))
    return age

customer_demography['age'] = customer_demography['DOB'].apply(calculate_age)

grouping age by age category

In [ ]:
bins = [0,20,30,40,50,60,100]
labels = ['10-20', '21-30', '31-40','41-50','51-60','61+']

customer_demography['age_category'] = pd.cut(customer_demography['age'], bins=bins, labels=labels, right=False)
grouped_age = customer_demography.groupby('age_category').size().reset_index(name='count')

In [ ]:
customer_demography

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,age,age_category
0,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11.0,70,61+
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,Yes,16.0,42,41-50
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,Yes,15.0,69,61+
3,4,Talbot,NaN,Male,33,1961-10-03,Unknown,IT,Mass Customer,N,No,7.0,62,61+
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,Unknown,Affluent Customer,N,Yes,8.0,46,41-50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3994,3995,Rusty,Iapico,Male,93,1975-12-12,Staff Scientist,Manufacturing,Mass Customer,N,Yes,14.0,47,41-50
3995,3996,Rosalia,Halgarth,Female,8,1975-08-09,VP Product Management,Health,Mass Customer,N,No,19.0,48,41-50
3996,3997,Blanch,Nisuis,Female,87,2001-07-13,Statistician II,Manufacturing,High Net Worth,N,Yes,1.0,22,21-30
3998,3999,Patrizius,NaN,Male,11,1973-10-24,Unknown,Manufacturing,Affluent Customer,N,Yes,10.0,50,51-60
3999,4000,Kippy,Oldland,Male,76,1991-11-05,Software Engineer IV,Unknown,Affluent Customer,N,No,11.0,32,31-40

In [ ]:
customer_demography['age_category'].value_counts()

41-50    1251
51-60     753
31-40     700
61+       672
21-30     537
10-20       0
Name: age_category, dtype: int64

# **Customer Address**

In [ ]:
cust_address = pd.read_excel('/content/drive/MyDrive/Internship/KPMG_VI_New_raw_data_update_final.xlsx', sheet_name='CustomerAddress')
cust_address

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9
...,...,...,...,...,...,...
3994,3999,1482 Hauk Trail,3064,VIC,Australia,3
3995,4000,57042 Village Green Point,4511,QLD,Australia,6
3996,4001,87 Crescent Oaks Alley,2756,NSW,Australia,10
3997,4002,8194 Lien Street,4032,QLD,Australia,7
3998,4003,320 Acker Drive,2251,NSW,Australia,7

In [ ]:
cust_address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [ ]:
cust_address.describe(include='all')

,customer_id,address,postcode,state,country,property_valuation
count,3999.000000,3999,3999.000000,3999,3999,3999.000000
unique,NaN,3996,NaN,5,1,NaN
top,NaN,3 Mariners Cove Terrace,NaN,NSW,Australia,NaN
freq,NaN,2,NaN,2054,3999,NaN
mean,2003.987997,NaN,2985.755939,NaN,NaN,7.514379
std,1154.576912,NaN,844.878364,NaN,NaN,2.824663
min,1.000000,NaN,2000.000000,NaN,NaN,1.000000
25%,1004.500000,NaN,2200.000000,NaN,NaN,6.000000
50%,2004.000000,NaN,2768.000000,NaN,NaN,8.000000
75%,3003.500000,NaN,3750.000000,NaN,NaN,10.000000
max,4003.000000,NaN,4883.000000,NaN,NaN,12.000000

**let's check missing values and duplicates**

In [ ]:
cust_address.isnull().sum()

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

In [ ]:
cust_address.duplicated().sum()

0

**Let's check the category columns**

In [ ]:
cust_address['country'].value_counts()

Australia    3999
Name: country, dtype: int64

In [ ]:
cust_address['state'].value_counts()

NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: state, dtype: int64

There is inconsistent format on state columns. NSW and New South Wales is the same one as well as VIC and Victoria. We will change it into proper format!

In [ ]:
cust_address['state'].replace('New South Wales', 'NSW', inplace=True)
cust_address['state'].replace('Victoria', 'VIC', inplace=True)

In [ ]:
cust_address['state'].value_counts()

NSW    2140
VIC    1021
QLD     838
Name: state, dtype: int64

**Okay! the rest seems fine (does not have inccorect value and missing value). We will go forward to the next table!**

# **New Customer List**

In [ ]:
new_cust = pd.read_excel('/content/drive/MyDrive/Internship/KPMG_VI_New_raw_data_update_final.xlsx', sheet_name='NewCustomerList')
new_cust

<ipython-input-46-3d90712fcb5e>:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  new_cust = pd.read_excel('/content/drive/MyDrive/Internship/KPMG_VI_New_raw_data_update_final.xlsx', sheet_name='NewCustomerList')

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,...,state,country,property_valuation,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,...,QLD,Australia,6,0.93,1.1625,1.453125,1.235156,1,1,1.718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,...,NSW,Australia,11,0.62,0.6200,0.775000,0.658750,1,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,...,VIC,Australia,5,1.07,1.0700,1.070000,1.070000,1,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,...,QLD,Australia,1,1.04,1.3000,1.300000,1.300000,4,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,...,NSW,Australia,9,0.62,0.6200,0.775000,0.775000,4,4,1.703125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Ferdinand,Romanetti,Male,60,1959-10-07,Paralegal,Financial Services,Affluent Customer,N,No,...,NSW,Australia,7,0.80,0.8000,0.800000,0.800000,996,996,0.374000
996,Burk,Wortley,Male,22,2001-10-17,Senior Sales Associate,Health,Mass Customer,N,No,...,NSW,Australia,10,0.48,0.4800,0.600000,0.510000,997,997,0.357000
997,Melloney,Temby,Female,17,1954-10-05,Budget/Accounting Analyst IV,Financial Services,Affluent Customer,N,Yes,...,QLD,Australia,2,0.82,1.0250,1.025000,1.025000,997,997,0.357000
998,Dickie,Cubbini,Male,30,1952-12-17,Financial Advisor,Financial Services,Mass Customer,N,Yes,...,QLD,Australia,2,0.61,0.7625,0.762500,0.648125,997,997,0.357000
999,Sylas,Duffill,Male,56,1955-10-02,Staff Accountant IV,Property,Mass Customer,N,Yes,...,NSW,Australia,9,1.09,1.3625,1.703125,1.447656,1000,1000,0.340000

In [ ]:
new_cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            971 non-null    object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   int64
 4   DOB                                  983 non-null    datetime64[ns]
 5   job_title                            894 non-null    object
 6   job_industry_category                835 non-null    object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   int64
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   int64
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   int64
 16  Unnamed: 16                          1000 non-null   float64
 17  Unnamed: 17                          1000 non-null   float64
 18  Unnamed: 18                          1000 non-null   float64
 19  Unnamed: 19                          1000 non-null   float64
 20  Unnamed: 20                          1000 non-null   int64
 21  Rank                                 1000 non-null   int64
 22  Value                                1000 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(6), object(11)
memory usage: 179.8+ KB

In [ ]:
new_cust.describe(include='all')

<ipython-input-48-3866d2ccce4e>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  new_cust.describe(include='all')

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,...,state,country,property_valuation,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Rank,Value
count,1000,971,1000,1000.000000,983,894,835,1000,1000,1000,...,1000,1000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
unique,940,961,3,NaN,958,184,9,3,1,2,...,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Rozamond,Sissel,Female,NaN,1998-02-05 00:00:00,Associate Professor,Financial Services,Mass Customer,N,No,...,NSW,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,3,2,513,NaN,2,15,203,508,1000,507,...,506,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
first,NaN,NaN,NaN,NaN,1938-06-08 00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,2002-02-27 00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,49.836000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7.397000,0.747990,0.839470,0.942590,0.869142,498.819000,498.819000,0.881714
std,NaN,NaN,NaN,27.796686,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.758804,0.206207,0.249061,0.294021,0.276332,288.810997,288.810997,0.293525
min,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.000000,0.400000,0.400000,0.400000,0.348500,1.000000,1.000000,0.340000
25%,NaN,NaN,NaN,26.750000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6.000000,0.570000,0.637500,0.700000,0.648125,250.000000,250.000000,0.649531
50%,NaN,NaN,NaN,51.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.000000,0.750000,0.820000,0.912500,0.843750,500.000000,500.000000,0.860000
75%,NaN,NaN,NaN,72.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.000000,0.930000,1.025000,1.156250,1.062500,750.250000,750.250000,1.075000
max,NaN,NaN,NaN,99.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,12.000000,1.100000,1.375000,1.718750,1.718750,1000.000000,1000.000000,1.718750

Based on table, we see there are irrelevant columns such as unnamed. We will be dropped these columns

In [ ]:
new_cust.drop(['Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20'], axis=1, inplace=True)
new_cust

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,1,1.718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,10,5 Colorado Crossing,3505,VIC,Australia,5,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,19,115 Montana Place,2093,NSW,Australia,9,4,1.703125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Ferdinand,Romanetti,Male,60,1959-10-07,Paralegal,Financial Services,Affluent Customer,N,No,9,2 Sloan Way,2200,NSW,Australia,7,996,0.374000
996,Burk,Wortley,Male,22,2001-10-17,Senior Sales Associate,Health,Mass Customer,N,No,6,04 Union Crossing,2196,NSW,Australia,10,997,0.357000
997,Melloney,Temby,Female,17,1954-10-05,Budget/Accounting Analyst IV,Financial Services,Affluent Customer,N,Yes,15,33475 Fair Oaks Junction,4702,QLD,Australia,2,997,0.357000
998,Dickie,Cubbini,Male,30,1952-12-17,Financial Advisor,Financial Services,Mass Customer,N,Yes,19,57666 Victoria Way,4215,QLD,Australia,2,997,0.357000
999,Sylas,Duffill,Male,56,1955-10-02,Staff Accountant IV,Property,Mass Customer,N,Yes,14,21875 Grover Drive,2010,NSW,Australia,9,1000,0.340000

Let's check gender category

In [ ]:
new_cust['gender'].value_counts()

Female    513
Male      470
U          17
Name: gender, dtype: int64

In [ ]:
#okay! since 'U' is a abbreviation, we will change it into 'Unknown'
new_cust['gender'].replace('U', 'Unknown', inplace=True)

Let's check missing value

In [ ]:
new_cust.isnull().sum()

first_name                               0
last_name                               29
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     17
job_title                              106
job_industry_category                  165
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                   0
address                                  0
postcode                                 0
state                                    0
country                                  0
property_valuation                       0
Rank                                     0
Value                                    0
dtype: int64

Like before, we will handle missing value on job_title and job_industry_category by filling the missing value with 'Unknown' and dropped DOB. For last_name we wont do anything on it

In [ ]:
new_cust['job_title'].fillna(value='Unknown', inplace=True)
new_cust['job_industry_category'].fillna(value='Unknown', inplace=True)

In [ ]:
#drop missing values
new_cust.dropna(subset=['DOB'], inplace=True)

Checking the isnull again

In [ ]:
new_cust.isnull().sum()

first_name                              0
last_name                              29
gender                                  0
past_3_years_bike_related_purchases     0
DOB                                     0
job_title                               0
job_industry_category                   0
wealth_segment                          0
deceased_indicator                      0
owns_car                                0
tenure                                  0
address                                 0
postcode                                0
state                                   0
country                                 0
property_valuation                      0
Rank                                    0
Value                                   0
dtype: int64

Calculate age and generate age segmentation

In [ ]:
#calcuate age
new_cust['age'] = new_cust['DOB'].apply(calculate_age)

#age segmentation
new_cust['age_category'] = pd.cut(new_cust['age'], bins=bins, labels=labels, right=False)
grouped_age_new_cust = new_cust.groupby('age_category').size().reset_index(name='count')

Let's check the category columns

In [ ]:
new_cust['gender'].value_counts()

Female    513
Male      470
Name: gender, dtype: int64

In [ ]:
new_cust['job_title'].value_counts()

Unknown                  105
Software Consultant       14
Environmental Tech        14
Associate Professor       14
Chief Design Engineer     13
                        ...
Web Developer II           1
Statistician III           1
Programmer Analyst IV      1
Engineer II                1
Web Developer I            1
Name: job_title, Length: 185, dtype: int64

In [ ]:
new_cust['job_industry_category'].value_counts()

Financial Services    202
Manufacturing         199
Unknown               165
Health                152
Retail                 78
Property               64
Entertainment          36
IT                     36
Argiculture            26
Telecommunications     25
Name: job_industry_category, dtype: int64

In [ ]:
new_cust['state'].value_counts()

NSW    499
VIC    258
QLD    226
Name: state, dtype: int64

In [ ]:
new_cust['deceased_indicator'].value_counts()

N    983
Name: deceased_indicator, dtype: int64

In [ ]:
new_cust['wealth_segment'].value_counts()

Mass Customer        499
High Net Worth       249
Affluent Customer    235
Name: wealth_segment, dtype: int64

In [ ]:
new_cust['age_category'].value_counts()

61+      350
41-50    208
51-60    182
21-30    137
31-40    106
10-20      0
Name: age_category, dtype: int64

# **Transactions**

In [ ]:
transactions = pd.read_excel('/content/drive/MyDrive/Internship/KPMG_VI_New_raw_data_update_final.xlsx', sheet_name='Transactions')
transactions

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,51,1018,2017-06-24,1.0,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.40,37823.0
19996,19997,41,127,2017-11-09,1.0,Approved,Solex,Road,medium,medium,416.98,312.74,35560.0
19997,19998,87,2284,2017-04-14,1.0,Approved,OHM Cycles,Standard,medium,medium,1636.90,44.71,40410.0
19998,19999,6,2764,2017-07-03,0.0,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,38216.0
19999,20000,11,1144,2017-09-22,1.0,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,36334.0

In [ ]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

As we can see, product_first_sold_date has wrong data type. We will change it into [datetime]

In [ ]:
transactions['product_first_sold_date'] = pd.to_datetime(transactions['product_first_sold_date'], format='%Y-%m-%d')

In [ ]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19445 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           19445 non-null  int64
 1   product_id               19445 non-null  int64
 2   customer_id              19445 non-null  int64
 3   transaction_date         19445 non-null  datetime64[ns]
 4   online_order             19445 non-null  float64
 5   order_status             19445 non-null  object
 6   brand                    19445 non-null  object
 7   product_line             19445 non-null  object
 8   product_class            19445 non-null  object
 9   product_size             19445 non-null  object
 10  list_price               19445 non-null  float64
 11  standard_cost            19445 non-null  float64
 12  product_first_sold_date  19445 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(3), int64(3), object(5)
memory usage: 2.1+ MB

Let's checking missing value

In [ ]:
transactions.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

since it has so many missing values, we will drop it. It will be fitered out

In [ ]:
transactions.dropna(subset=['online_order', 'brand','product_line', 'product_class',
                            'product_size', 'product_line', 'standard_cost',
                            'product_first_sold_date'], inplace=True)

In [ ]:
transactions.isnull().sum()

transaction_id             0
product_id                 0
customer_id                0
transaction_date           0
online_order               0
order_status               0
brand                      0
product_line               0
product_class              0
product_size               0
list_price                 0
standard_cost              0
product_first_sold_date    0
dtype: int64

In [ ]:
transactions

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,1970-01-01 00:00:00.000041245
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,1970-01-01 00:00:00.000041701
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,1970-01-01 00:00:00.000036361
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,1970-01-01 00:00:00.000036145
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,1970-01-01 00:00:00.000042226
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,51,1018,2017-06-24,1.0,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.40,1970-01-01 00:00:00.000037823
19996,19997,41,127,2017-11-09,1.0,Approved,Solex,Road,medium,medium,416.98,312.74,1970-01-01 00:00:00.000035560
19997,19998,87,2284,2017-04-14,1.0,Approved,OHM Cycles,Standard,medium,medium,1636.90,44.71,1970-01-01 00:00:00.000040410
19998,19999,6,2764,2017-07-03,0.0,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,1970-01-01 00:00:00.000038216
19999,20000,11,1144,2017-09-22,1.0,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,1970-01-01 00:00:00.000036334

In [ ]:
transactions['product_first_sold_date'].head(20)

0    1970-01-01 00:00:00.000041245
1    1970-01-01 00:00:00.000041701
2    1970-01-01 00:00:00.000036361
3    1970-01-01 00:00:00.000036145
4    1970-01-01 00:00:00.000042226
5    1970-01-01 00:00:00.000039031
6    1970-01-01 00:00:00.000034165
7    1970-01-01 00:00:00.000039915
8    1970-01-01 00:00:00.000033455
9    1970-01-01 00:00:00.000038216
10   1970-01-01 00:00:00.000040784
11   1970-01-01 00:00:00.000042172
12   1970-01-01 00:00:00.000034527
13   1970-01-01 00:00:00.000034586
14   1970-01-01 00:00:00.000038193
15   1970-01-01 00:00:00.000037873
16   1970-01-01 00:00:00.000038206
17   1970-01-01 00:00:00.000033888
18   1970-01-01 00:00:00.000039915
19   1970-01-01 00:00:00.000037337
Name: product_first_sold_date, dtype: datetime64[ns]

extracts only the date part from the datetime values

In [ ]:
transactions['product_first_sold_date'] = transactions['product_first_sold_date'].dt.date

In [ ]:
transactions['product_first_sold_date'].head(20)

0     1970-01-01
1     1970-01-01
2     1970-01-01
3     1970-01-01
4     1970-01-01
5     1970-01-01
6     1970-01-01
7     1970-01-01
8     1970-01-01
9     1970-01-01
10    1970-01-01
11    1970-01-01
12    1970-01-01
13    1970-01-01
14    1970-01-01
15    1970-01-01
16    1970-01-01
17    1970-01-01
18    1970-01-01
19    1970-01-01
Name: product_first_sold_date, dtype: object

The date part is correct but unfortunately the data type changed to object, so let's change it again into datetime format

In [ ]:
transactions['product_first_sold_date'] = pd.to_datetime(transactions['product_first_sold_date'], errors='coerce')

In [ ]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19445 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           19445 non-null  int64
 1   product_id               19445 non-null  int64
 2   customer_id              19445 non-null  int64
 3   transaction_date         19445 non-null  datetime64[ns]
 4   online_order             19445 non-null  float64
 5   order_status             19445 non-null  object
 6   brand                    19445 non-null  object
 7   product_line             19445 non-null  object
 8   product_class            19445 non-null  object
 9   product_size             19445 non-null  object
 10  list_price               19445 non-null  float64
 11  standard_cost            19445 non-null  float64
 12  product_first_sold_date  19445 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(3), int64(3), object(5)
memory usage: 2.1+ MB

**Let's calculate profit based on standard cost and price**

In [ ]:
transactions['profit'] = transactions['list_price'] - transactions['standard_cost']
transactions['profit'] = transactions['profit'].apply(lambda x: round(x,2))
transactions

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date,profit
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,1970-01-01,17.87
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,1970-01-01,1702.55
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,1970-01-01,1544.61
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,1970-01-01,817.36
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,1970-01-01,1055.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,51,1018,2017-06-24,1.0,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.40,1970-01-01,802.26
19996,19997,41,127,2017-11-09,1.0,Approved,Solex,Road,medium,medium,416.98,312.74,1970-01-01,104.24
19997,19998,87,2284,2017-04-14,1.0,Approved,OHM Cycles,Standard,medium,medium,1636.90,44.71,1970-01-01,1592.19
19998,19999,6,2764,2017-07-03,0.0,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,1970-01-01,91.15
19999,20000,11,1144,2017-09-22,1.0,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,1970-01-01,195.34

# **Save the cleaned version**

In [ ]:
pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.1.9-py3-none-any.whl (154 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 154.8/154.8 kB 3.3 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.1.9

In [ ]:
file_path = '/content/drive/MyDrive/Internship/KPMG_cleaned_version.xlsx'

with pd.ExcelWriter(file_path, engine='xlsxwriter') as writer:
  customer_demography.to_excel(writer, sheet_name='CustomerDemographic', index=False)
  cust_address.to_excel(writer, sheet_name='CustomerAddress', index=False)
  new_cust.to_excel(writer, sheet_name='NewCustomerList', index=False)
  transactions.to_excel(writer, sheet_name='Transactions', index=False)